networks:
  podverse_alpha_network:
    external: true

volumes:
  podverse_alpha_workers_data:

services:
  
  podverse_alpha_workers:
    image: ghcr.io/podverse/podverse-workers/podverse-workers:REPLACE_WITH_WORKERS_VERSION
    container_name: podverse_alpha_workers
    env_file:
      - ../../../config/podverse-alpha-workers.env
    networks:
      - podverse_alpha_network
    shm_size: 1gb
    volumes:
      - ../../../config/firebase/firebase-key.json:/app/config/firebase-key.json:ro
      - podverse_alpha_workers_data:/data
    logging:
      driver: "syslog"
      options:
        tag: "{{.ImageName}}/{{.Name}}/{{.ID}}"