networks:
  podverse_alpha_network:
    external: true

services:
  
  podverse_alpha_workers:
    image: ghcr.io/podverse/podverse-workers/podverse-workers:REPLACE_WITH_WORKERS_VERSION
    container_name: podverse_alpha_workers
    env_file:
      - ../../../config/podverse-alpha-workers.env
    networks:
      - podverse_alpha_network
    volumes:
      - ../../../config/firebase/firebase-key.json:/app/config/firebase-key.json:ro
      - ../../../logs/workers:/app/logs
    logging:
      driver: "syslog"
      options:
        tag: "{{.ImageName}}/{{.Name}}/{{.ID}}"
    restart: unless-stopped
