node_modules

truffle.log

.vscode/terminals.json

config/podverse-api-local.env
config/podverse-db-local.env
config/podverse-web-local.env

config/podverse-api-stage.env
config/podverse-db-stage.env
config/podverse-web-stage.env

config/podverse-api-prod.env
config/podverse-db-prod.env
config/podverse-web-prod.env

config/bitpay/api.key

config/google/jwt.keys.json

manticore/data*
manticore/*.csv

utils/translate-json/node_modules

temp

nginx-error.log
