node_modules

*.DS_Store

.vscode/terminals.json

config/podverse-local-api.env
config/podverse-local-db.env
config/podverse-local-queue-amtp.env
config/podverse-local-web.env
config/podverse-local-workers.env

config/podverse-test-db.env

config/podverse-sandbox-api.env
config/podverse-sandbox-db.env
config/podverse-sandbox-queue-amtp.env
config/podverse-sandbox-web.env
config/podverse-sandbox-workers.env

config/podverse-prod-api.env
config/podverse-prod-db.env
config/podverse-prod-queue.env
config/podverse-prod-web.env
config/podverse-prod-workers.env

config/firebase/firebase-key.json
