node_modules

*.DS_Store

.vscode/terminals.json
.vscode/terminals-norun.json
.vscode/terminals-rundev.json

config/podverse-test-db.env

config/podverse-local-api.env
config/podverse-local-db.env
config/podverse-local-keyvaldb.env
config/podverse-local-mq.env
config/podverse-local-web.env
config/podverse-local-workers.env

config/podverse-alpha-api.env
config/podverse-alpha-db.env
config/podverse-alpha-keyvaldb.env
config/podverse-alpha-mq.env
config/podverse-alpha-web.env
config/podverse-alpha-workers.env

config/podverse-sandbox-api.env
config/podverse-sandbox-db.env
config/podverse-sandbox-keyvaldb.env
config/podverse-sandbox-mq.env
config/podverse-sandbox-web.env
config/podverse-sandbox-workers.env

config/podverse-prod-api.env
config/podverse-prod-db.env
config/podverse-prod-keyvaldb.env
config/podverse-prod-mq.env
config/podverse-prod-web.env
config/podverse-prod-workers.env

config/google/firebase/firebase-admin.json
config/segment/segment-key.txt

*.jar
*.log
logs/

.direnv
