NOTE: Adding the BitPay API key to a container is a manual process (unfortunately).
After you first create a podverse-api container, you will need to ssh into the running container,
then follow the instructions found at https://github.com/bitpay/node-bitpay-client to create the
api.key and pair it, then move the key from /.bitpay/api.key into /tmp/src/config/bitpay/api.key,
then restart the container to use the new key.

---

Prod deployment steps:

./podverse-ops/scripts/runLatestPodverseApi.sh prod
docker exec -it podverse_api_prod bash
./node_modules/bitpay-rest/bin/bitpay.js config --use prod
./node_modules/bitpay-rest/bin/bitpay.js keygen
    password = password
./node_modules/bitpay-rest/bin/bitpay.js pair
    no to "Do you have a pairing code?", press enter twice, 1 "Point of Sale", follow instructions to finish pairing
cp /root/.bitpay/api.key /tmp/src/config/bitpay/api.key
exit
docker stop podverse_api_prod
docker start podverse_api_prod


you can test if your key is working within the container by running:
./node_modules/bitpay-rest/bin/bitpay.js request -T pos -X post -R invoices -P '{"price": 1, "currency": "USD"}'
