NOTE: Adding the BitPay API key to a container is a manual process (unfortunately).
After you first create a podverse-api container, you will need to ssh into the running container,
then follow the instructions found at https://github.com/bitpay/node-bitpay-client to create the
api.key and pair it, then move the key from /.bitpay/api.key into /tmp/src/config/bitpay/api.key,
then restart the container to use the new key.

---

Prod deployment steps:

./podverse-ops/scripts/runLatestPodverseApi.sh prod
docker exec -it podverse_api_prod bash
./node_modules/bitpay-rest/bin/bitpay.js config --use prod
./node_modules/bitpay-rest/bin/bitpay.js keygen
    no password
./node_modules/bitpay-rest/bin/bitpay.js pair
    no to "Do you have a pairing code?", enter twice, 1 "Point of Sale"
    follow pairing URL and finish pairing
mv /root/.bitpay/api.key /tmp/src/config/bitpay/api.key
exit
docker stop podverse_api_prod
docker start podverse_api_prod
