volumes:
  rabbitmq_data:

networks:
  podverse_sandbox_network:
    external: true

services:

  podverse_sandbox_queue:
    image: rabbitmq:3-management
    container_name: podverse_sandbox_queue
    env_file:
      - ../../../config/podverse-sandbox-queue.env
    ports:
      - '5672:5672'
      - '15672:15672'
    networks:
      - podverse_sandbox_network
    restart: always
    shm_size: 1gb
    volumes:
      - rabbitmq_data:/var/lib/rabbitmq
    logging:
      driver: "syslog"
      options:
        tag: "{{.ImageName}}/{{.Name}}/{{.ID}}"

  podverse_sandbox_workers:
    image: ghcr.io/podverse/podverse-workers/podverse-workers:REPLACE_WITH_WORKERS_VERSION
    container_name: podverse_sandbox_workers
    env_file:
      - ../../../config/podverse-sandbox-workers.env
    networks:
      - podverse_sandbox_network
    shm_size: 1gb
    volumes:
      - ../../../config/firebase/firebase-key.json:/app/config/firebase-key.json:ro
    logging:
      driver: "syslog"
      options:
        tag: "{{.ImageName}}/{{.Name}}/{{.ID}}"