networks:
  podverse_sandbox_network:
    external: true

services:
  
  podverse_sandbox_workers:
    image: ghcr.io/podverse/podverse-workers/podverse-workers:REPLACE_WITH_WORKERS_VERSION
    container_name: podverse_sandbox_workers
    env_file:
      - ../../../config/podverse-sandbox-workers.env
    networks:
      - podverse_sandbox_network
    shm_size: 1gb
    volumes:
      - ../../../config/firebase/firebase-key.json:/app/config/firebase-key.json:ro
    logging:
      driver: "syslog"
      options:
        tag: "{{.ImageName}}/{{.Name}}/{{.ID}}"