#####
##### General
#####

NODE_ENV=development
USER_AGENT=Podverse/2/Alpha/Worker

#####
##### Logs
#####

LOG_LEVEL=info
LOG_DIR=
LOG_TIMER=true

#####
##### Postgres
#####

DB_HOST=localhost # change to service name in production
DB_PORT=5432
DB_READ_USERNAME=read
DB_READ_PASSWORD=your_read_password
DB_READ_WRITE_USERNAME=read_write
DB_READ_WRITE_PASSWORD=your_read_write_password
DB_DATABASE=postgres
DB_SSL_CONNECTION=

#####
##### Podcast Index
#####

PODCAST_INDEX_BASE_URL=https://api.podcastindex.org/api/1.0
PODCAST_INDEX_AUTH_KEY=
PODCAST_INDEX_SECRET_KEY=

#####
##### Message Queue
#####

MESSAGE_QUEUE_HOST=localhost # change to service name in production
MESSAGE_QUEUE_PORT=5672
MESSAGE_QUEUE_USERNAME=user
MESSAGE_QUEUE_PASSWORD=mysecretpw

#####
##### Google / FCM
#####

# Set as absolute path
FIREBASE_PATH_TO_AUTH_JSON=
FIREBASE_PROJECT_ID=
