POSTGRES_DB=postgres
POSTGRES_USER=postgres
POSTGRES_PASSWORD=mysecretpw
PGDATA=/var/lib/postgresql/data/pgdata/

POSTGRES_READ_USERNAME=postgres_read
POSTGRES_READ_PASSWORD=mysecretpw
POSTGRES_READ_WRITE_USERNAME=postgres
POSTGRES_READ_WRITE_PASSWORD=mysecretpw