NODE_ENV=production
PROTOCOL=http
PORT=8765

API_PROTOCOL=http
API_PORT=1234
API_PATH=api
API_VERSION=v1

COOKIE_DOMAIN=stage.podverse.fm
COOKIE_PATH=/

PAYPAL_ENV=sandbox
PAYPAL_CLIENT_ID_PRODUCTION=
PAYPAL_CLIENT_ID_SANDBOX=

GOOGLE_ANALYTICS_TRACKING_ID=

# For pages served on the back-end,
# use docker container namespaces for domains
DOMAIN=podverse_web:8765
API_DOMAIN=podverse_api:1234

# For pages served on the front-end,
# use docker container namespaces for domains
PUBLIC_DOMAIN=stage.podverse.fm
PUBLIC_API_DOMAIN=api.stage.podverse.fm

# domain for nginx to use
VIRTUAL_HOST=stage.podverse.fm
# VIRTUAL_PORT=8765
