NODE_ENV=production
PORT=1234
JWT_SECRET=your-secret-whatever
API_HOST=http://podverse_api:1234
API_PREFIX=/api
API_VERSION=/v1
DB_TYPE=postgres
DB_HOST=podverse_db
DB_PORT=5432
DB_USERNAME=postgres
DB_PASSWORD=mysecretpw
DB_DATABASE=postgres
DB_SSL_CONNECTION=false
EMAIL_VERIFICATION_TOKEN_EXPIRATION=31540000
RESET_PASSWORD_TOKEN_EXPIRATION=86400
FREE_TRIAL_EXPIRATION= 2592000
PREMIUM_MEMBERSHIP_EXPIRATION=31540000
PREMIUM_MEMBERSHIP_COST=3
WEBSITE_PROTOCOL=http
WEBSITE_DOMAIN=podverse_web:8765
WEBSITE_RESET_PASSWORD_PAGE_PATH=/reset-password?token=
WEBSITE_VERIFY_EMAIL_PAGE_PATH=/verify-email?token=
MAILER_SERVICE=
MAILER_HOST=
MAILER_PORT=
MAILER_USERNAME=
MAILER_PASSWORD=
BITPAY_API_KEY_PASSWORD=
BITPAY_API_KEY_PATH=/tmp/src/config/bitpay/api.key
BITPAY_CURRENCY=USD
BITPAY_NOTIFICATION_URL=http://podverse_api:1234/bitpay/notification
BITPAY_REDIRECT_URL=http://localhost:8765/payment/bitpay-confirming?id=
PAYPAL_MODE=sandbox
PAYPAL_CLIENT_ID=
PAYPAL_CLIENT_SECRET=
PAYPAL_WEBHOOK_ID_PAYMENT_SALE_COMPLETED=
GA_VIEW_ID=
AWS_QUEUE_FEED_PARSER_URL=
AWS_QUEUE_FEED_PARSER_ERRORS_URL=
AWS_REGION=
