NODE_ENV=production

RABBITMQ_HOST=podverse_queue
RABBITMQ_PORT=5672
RABBITMQ_USERNAME=user
RABBITMQ_PASSWORD=mysecretpw
RABBITMQ_VHOST=/

RABBITMQ_QUEUE_NAMES=rss-slow,rss-fast,rss-live

#####
##### Postgres
#####

# LOCAL
DB_HOST=podverse_db
DB_PORT=5432
DB_USERNAME=user
DB_PASSWORD=mysecretpw
DB_DATABASE=postgres
DB_SSL_CONNECTION=

LOG_LEVEL=info
LOG_TIMER=

PODCAST_INDEX_BASE_URL=https://api.podcastindex.org/api/1.0
PODCAST_INDEX_AUTH_KEY=
PODCAST_INDEX_SECRET_KEY=
