DEBUG=True
DJANGO_SECRET_KEY=
ALLOWED_HOST=localhost

DB_NAME=postgres
DB_USER=postgres
DB_PASSWORD=mysecretpw
DB_HOST=podverse_db
DB_PORT=5432

MAILER_HOST=
MAILER_PORT=
MAILER_USERNAME=
MAILER_PASSWORD=

NEW_USER_EMAIL_BUTTON_LINK="https://localhost:8765?forgotPassword=true"
NEW_USER_EMAIL_FROM="contact@stage.podverse.fm"
