PROTECTED_MODE=no # set to yes in production
BIND=0.0.0.0 # set to 127.0.0.1 in production
APPENDONLY=yes # set to no in production
VALKEY_OPTS="--maxmemory 1gb --maxclients 10000"
KEYVALDB_PASSWORD= # required
