networks:
  nginx-proxy:
    name: nginx-proxy

services:

  podverse_db:
    image: postgres:16.2-bookworm
    container_name: podverse_db_prod

    env_file:
      - /opt/podverse-ops/config/podverse-db-prod.env
    ports:
      - '5432:5432'
    volumes:
      - /mnt/pvdb:/var/lib/postgresql/data
      - /mnt/pvdb_wal:/var/lib/postgresql/data/pgdata/pg_wal
    command: postgres -c max_connections=100 -c superuser_reserved_connections=20 -c shared_buffers=4GB -c effective_cache_size=8GB -c maintenance_work_mem=800MB  -c wal_buffers=64MB -c random_page_cost=1.1 -c effective_io_concurrency=200 -c work_mem=40MB -c min_wal_size=5GB -c max_wal_size=10GB -c max_worker_processes=7 -c max_parallel_workers_per_gather=7 -c max_parallel_workers=7 -c checkpoint_timeout=1800 -c autovacuum_max_workers=6
    restart: always
    shm_size: 2gb
    logging:
      driver: "syslog"
      options:
        tag: "{{.ImageName}}/{{.Name}}/{{.ID}}"

  podverse_manticore:
    image: manticoresearch/manticore:4.2.0
    container_name: podverse_manticore_prod
    depends_on:
      - podverse_db
    restart: always
    ports:
      - 9306:9306
      - 9308:9308
    ulimits:
      nproc: 65535
      nofile:
        soft: 65535
        hard: 65535
      memlock:
        soft: -1
        hard: -1
    volumes:
      - /opt/podverse-ops/manticore/data:/var/lib/manticore
      - /opt/podverse-ops/manticore/manticore.conf:/etc/manticoresearch/manticore.conf
    logging:
      driver: "syslog"
      options:
        tag: "{{.ImageName}}/{{.Name}}/{{.ID}}"
