{
  "autorun": false,
  "terminals": [
    {
      "name": "Podverse API",
      "description": "podverse-api",
      "cwd": "~/repos/podverse-api",
      "open": true,
      "command": "npm run dev:watch"
    },
    {
      "name": "Podverse External Services",
      "description": "podverse-external-services",
      "cwd": "~/repos/podverse-external-services",
      "open": true,
      "command": "npm run build:watch"
    },
    {
      "name": "Podverse F-Droid",
      "description": "podverse-fdroid",
      "cwd": "~/repos/podverse-fdroid",
      "open": true
    },
    {
      "name": "Podverse Helpers",
      "description": "podverse-helpers",
      "cwd": "~/repos/podverse-helpers",
      "open": true,
      "command": "npm run build:watch"
    },
    {
      "name": "Podverse Ops",
      "description": "podverse-ops",
      "cwd": "~/repos/podverse-ops",
      "open": true
    },
    {
      "name": "Podverse ORM",
      "description": "podverse-orm",
      "cwd": "~/repos/podverse-orm",
      "open": true,
      "command": "npm run build:watch"
    },
    {
      "name": "Podverse Parser",
      "description": "podverse-parser",
      "cwd": "~/repos/podverse-parser",
      "open": true,
      "command": "npm run build:watch"
    },
    {
      "name": "Podverse Queue",
      "description": "podverse-queue",
      "cwd": "~/repos/podverse-queue",
      "open": true,
      "command": "npm run build:watch"
    },
    {
      "name": "Podverse RN",
      "description": "podverse-rn",
      "cwd": "~/repos/podverse-rn",
      "open": true
    },
    {
      "name": "Podverse Web",
      "description": "podverse-web",
      "cwd": "~/repos/podverse-web",
      "open": true
    },
    {
      "name": "Podverse Workers",
      "description": "podverse-workers",
      "cwd": "~/repos/podverse-workers",
      "open": true
    },
    {
      "name": "Podverse SSH",
      "description": "Podverse SSH",
      "cwd": "~/repos/podverse-ops",
      "open": true
    }
  ]
}
