{
  "autorun": false,
  "terminals": [
    {
      "name": "Podverse API",
      "description": "Podverse API",
      "cwd": "<path to repos>/podverse-api",
      "open": true
    },
    {
      "name": "Podverse Web",
      "description": "Podverse Web",
      "cwd": "<path to repos>/podverse-web",
      "open": true
    },
    {
      "name": "Podverse RN",
      "description": "Podverse RN",
      "cwd": "<path to repos>/podverse-rn",
      "open": true
    },
    {
      "name": "Podverse F-Droid",
      "description": "Podverse F-Droid",
      "cwd": "<path to repos>/podverse-fdroid",
      "open": true
    },
    {
      "name": "Podverse Ops",
      "description": "Podverse Ops",
      "cwd": "<path to repos>/podverse-ops",
      "open": true
    },
    {
      "name": "Podverse Shared",
      "description": "podverse-shared",
      "cwd": "<path to repos>/podverse-shared",
      "open": true
    },
    {
      "name": "Podverse SSH",
      "description": "Podverse SSH",
      "cwd": "<path to repos>/podverse-ops",
      "open": true
    },
    {
      "name": "Podcast Index",
      "description": "podcastindex",
      "cwd": "<path to repos>/podcastindex",
      "open": true
    },
    {
      "name": "transcriptator",
      "description": "transcriptator",
      "cwd": "<path to repos>/transcriptator",
      "open": true
    },
    {
      "name": "react-native-track-player",
      "description": "react-native-track-player",
      "cwd": "<path to repos>/react-native-track-player",
      "open": true
    }
  ]
}
