{
  "autorun": false,
  "terminals": [
    {
      "name": "Podverse Ops",
      "description": "podverse-ops",
      "cwd": "~/repos/podverse-ops",
      "open": true
    },
    {
      "name": "Podverse Partytime",
      "description": "podverse-partytime",
      "cwd": "~/repos/podverse-partytime",
      "open": true
    },
    {
      "name": "Podverse Helpers",
      "description": "podverse-helpers",
      "cwd": "~/repos/podverse-helpers",
      "open": true
    },
    {
      "name": "Podverse External Services",
      "description": "podverse-external-services",
      "cwd": "~/repos/podverse-external-services",
      "open": true
    },
    {
      "name": "Podverse Notifications",
      "description": "podverse-notifications",
      "cwd": "~/repos/podverse-notifications",
      "open": true
    },
    {
      "name": "Podverse ORM",
      "description": "podverse-orm",
      "cwd": "~/repos/podverse-orm",
      "open": true
    },
    {
      "name": "Podverse Parser",
      "description": "podverse-parser",
      "cwd": "~/repos/podverse-parser",
      "open": true
    },
    {
      "name": "Podverse MQ",
      "description": "podverse-mq",
      "cwd": "~/repos/podverse-mq",
      "open": true
    },
    {
      "name": "Podverse API",
      "description": "podverse-api",
      "cwd": "~/repos/podverse-api",
      "open": true
    },
    {
      "name": "Podverse Web",
      "description": "podverse-web",
      "cwd": "~/repos/podverse-web",
      "open": true
    },
    {
      "name": "Podverse Workers",
      "description": "podverse-workers",
      "cwd": "~/repos/podverse-workers",
      "open": true
    },
    {
      "name": "Podverse QA",
      "description": "podverse-qa",
      "cwd": "~/repos/podverse-qa",
      "open": true
    },
    {
      "name": "Podverse Management API",
      "description": "podverse-management-api",
      "cwd": "~/repos/podverse-management-api",
      "open": true
    },
    {
      "name": "Podverse Management Web",
      "description": "podverse-management-web",
      "cwd": "~/repos/podverse-management-web",
      "open": true
    },
    {
      "name": "Podverse SSH",
      "description": "Podverse SSH",
      "cwd": "~/repos/podverse-ops",
      "open": true
    }
  ]
}